.servicesbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 74%;
  box-shadow: -7px -1px 10px 5px rgb(0 0 0 / 40%); 
   margin: 0 auto; /* Add margin auto to horizontally center the element */
}
.back-services{
background-color: #c8a15e;
padding-bottom: 39px;
}
.services-big-title {
  padding: 20px;
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}

.main-plate1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-bottom: 0; /* Remove the margin-bottom */
}
.main-plate2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-bottom: 0; /* Remove the margin-bottom */
}

.content-plate {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffada;
  background-color: #000000;
  height: 262px;
  text-align: center;
  width: 70%;
}

.content-plate:hover {
  background-color: #fff6f6;
  box-shadow: 0 2px 13px 4px rgb(0 0 0 / 90%);
  animation: fadeIn 0.5s ease-in;
  color: #000000;
}
.main-plate2 .content-plate {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffada;
  background-color: #000000;
  height: 394px;
  text-align: center;
  width: 446px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.plate-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: -7px;
  color: #c8a15e;
}
.plate-sub-description {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px;
  line-height: 20px;
}

.plate-description {
  font-size: 11px;
  margin-bottom: 13px;
  padding: 0px 20px 20px 20px;
}

.plate-img {
  position: relative;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
}

.plate-img1 {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .servicesbody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-plate1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content-plate {
    padding: 20px;
    height: 269px;
    width: 93%;
  }

  .plate-title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c8a15e;
  }
  plate-sub-description {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -3px;
    padding: 15px;
    line-height: 20px;
  }

  .plate-description {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0;
  }
  .plate-img {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f2f2f2;
  }

  /* .plate-img1 {
    width: 100%;
    height: 226px;
  } */
  .othercontent {
    width: 300px;
  }
}
