.hero-carousel {
  position: relative;
  transition: transform 0.5s ease-in-out; /* Add transition */
}
.hero {
  position: relative;
  /* transform: translateY(-112px); */
  /* z-index: -1; */
}

.hero .slick-list {
  overflow: hidden;
}

.hero .slick-slide {
  position: relative;
}

.hero .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero .hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 45%;
  left: 30%;
  
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.herospan {
  color: #c8a15e;
  font-weight: bold;
  font-size:130px;
}

.hero .hero-content .hero-sub {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.hero .hero-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}
.hero-buttons {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  gap: 20px;
  width: 297px;
  height: 40px;
}



.hero-btn {
  flex: 1;
  background-color: #c8a15e;
  color: #fff;
  border-radius: 6px;
  border:none;
  font-size: 21px;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.5s ease-out;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fff;
  color: #333;
}

@media (max-width: 768px) {
  .hero {
    position: relative;
    transform: translateY(8px);
    /* z-index: -1; */
  }
  .hero .slick-dots {
    bottom: 10px;
  }

  .hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* .hero .hero-text h1 {
    color: white;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
  } */

  .hero-text-first-span {
    color: white;
    font-size: 39px !important;
    font-weight: bold;
    text-align: center;
  }

  .hero .hero-content .hero-sub {
    color: white;
    font-size: 21px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 309px;
  }

  .hero .hero-text .herospan {
    color: #c8a15e;
    font-weight: bold;
    font-size: 46px;
    margin-right: 10px;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:10px;
    width:250px;
    height:45px;

  }
  .hero-btn {
    flex: 1;
    background-color: #c8a15e;
    color: #fff;
    border-radius: 6px;
    border:none;
    padding: 0.5rem;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s ease-out;
  }
  
}


