
.aboutus-p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

.btn a{
	display: block;
	width: 180px;
	height: 35px;
	border: 2px solid black;
	line-height: 35px;
	margin: 25px auto 0;
	color: black;
	text-align: center;
}




.main_container11{
	position: relative;
}



/* Banner Image */
.banner_image {
	background: url("../../images/chefsteam.jpeg") no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  
  .banner_image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  }

.banner_content{
	text-align: center;
	color: #fff;
	z-index: 999;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	font-size: 80px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: black;
}

/* About us */
.about,
.services,
.contactus,
.ourteam{
	padding: 5% 10%;
	text-align: center;
}

/* Services */
.services{
	background: #f5f5f5;
}

.diff_services{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.diff_service_item{
	width: 30%;
}

.diff_service_item img{
	width: 100%;
	height: 255px;

	margin-bottom: 25px;
}

.diff_service_item h3{
	color: black;
	margin-bottom: 15px;
}

/* Contact Us */
.form_input{
	margin-bottom: 15px;
}

.form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}

/* Our Team*/


.ourteam_wrapper{
	display: flex;
	flex-direction: row;
}
.ourteam{
	background: #f5f5f5;
}



.ourteam_wrapper .team{
	display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-1{
	display: flex;
	flex-direction: column;
}
.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 80%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 62%;
    display: block;
    height: 288px;
    transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;

	}
	.banner_content h1{
		
		font-size: 25px;	
	}


	h1.title{
	word-spacing:5px;

	}
	.about,
.services,
.contactus,
.ourteam{
	display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
}

/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: black;
	border-radius: 50%;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}