@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Lusitana:wght@400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rancho&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rancho", cursive;
  font-weight: 300;
}
.body {
  background-color: transparent;
}

nav  {
  /* align-items: center; */
  height: 7rem;
  /* background-color: black; */
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  font-size: 0.8rem;
}
.menu__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}


/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1rem;;
  width: 88vw;
  padding: 0 0.7vw;
  align-items: center;
  justify-content: center;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #d6cdcd;
}
.nav-links li .a:hover {
  color: #c8a15e;
}
.nav-links li {
  position: relative;
}
.logo-nav {
  width: 91px;
  height: 66px;
}
.loginbtn {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically */
}
.logoparent {
  padding-left:1.5rem;
  display: flex;
  align-items: center;
  align-items: center;
}
.loginbtnicon {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
.loginbtnicon:hover {
  color: #c8a15e;
}
.custom1__search {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  height: 10px;
  border-radius: 50px;
  background: #212121;
  margin-left: 10px; /* Add margin to create space between the elements */
}

.custom1__search input {
  border: none;
  outline: none;
  background: transparent;
  color: aliceblue;
}

.custom1__search span i {
  cursor: pointer;
  color: aliceblue;
 
}

.nav-links li .a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.buyicon {
  position: relative;
  right: 46px;
    top: 4px;
  color: #fffbfb;
  border-radius: 7px;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0.1rem 0.6rem;
  background-color: #ca6d01;
  align-self: center;
  margin-left: 0.7vw;
}
.buyicon:hover{
  color:#000000
}
.nav-links li .a:hover::before {
  width: 80%;
}
/* .nav-links li:not(:last-child) {
  margin-bottom: 10px;
} */
/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button {
  color: #131418;
  background-color: #c8a15e;
  border: 1.5px solid #c8a15e;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
  color: #f2f5f7;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;
    width: 100vw;
font-size: 1rem;
    position: fixed;
  }
  .custom1__search {
    width: 225px;
    height: 25px;
    border: 2px solid #ffff;
    padding: 5px 15px;
  }
  .custom1__search input {
    /* font-size: 1.3rem; */
    padding: 5px 15px;
    width: 194px;
}
.menu__right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 2rem;

}
  /* nav {
    height: 7rem;
    width: 100vw;
    position: relative;
    display: flex;
  } */
  .login-button {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.2s ease;
  }
  .nav-links  {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    font-size: 2rem;
   
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    
  }
  .second_nav{
    pointer-events: none;
    gap: 2rem;
    font-size: 1.3rem;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    /* opacity: 0; */
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  
  .logo-nav{
    position: relative;
    top: 0%;
    right: 36%;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}