footer{
  background-color: black;
}
.footer-body {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  height: 147px;
  background: black;
  border-top: 1px solid #4c4c4c;
}
.footer-title {
  font-size: 26px;
  padding: 0 0 10px 0;
  color: #c8a15e;
}
.footer-list li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list {
  display: flex;
  column-gap: 16%;
  list-style-type: none;
}

.footer-links {
  text-decoration: none;
  font-size: 19px; 
   color: rgb(255, 255, 255);
  font-family: "Segoe UI";
}

.footer-links:hover {
  color: #c8a15e;
}

.footer-logo {
  height: 99px;
  width: 146px;
}
.footer-content {
  display: flex;
  /* background-color: #c8a15e; */
  flex-direction: column;
}
.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-social-icons a {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.footer-social-icons a:hover {
  color: #c8a15e; /* Change to the desired hover color */
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.footer-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
  justify-content: center;
}

.footer-p {
  row-gap: 10px;
  display: flex;
  color: #ebdcdc;
  font-size: 1.3rem;
    font-family: "Segoe UI";
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.footer-bottom-p {
  padding: 33px;
}
@media screen and (max-width: 800px) {
  .footer-body {
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 279px;
       border-top: 1px solid #4c4c4c;
  }

  .footer-logo {
    height: 5.2rem;
    width: 8rem;
    padding: 0 0 10px 0;
  }
  .footer-links {
    font-size: 15px;
  }
  .footer-bottom-p {
    font-size: 13px;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    top: -12px;
    position: relative;
  }
  .footer-center {
    background-color: black;
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
    justify-content: space-around;
    align-items: center;
  }

  .footer-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
  }
}
